* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
  }
  

  h1 {
    text-align: center;
    color: #4CAF50;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

  }
  
  button:hover {
    background-color: #45a049;
  }
  

  input[type="text"] {
    padding: 8px;
    font-size: 1rem;
    margin-left: 10px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
  }
  

  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  td {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) td {
    background-color: #f9f9f9;
  }
  

  #tabella {
    text-align: center;
    margin-top: 30px;
  }
  
  #tabella p {
    color: #ff4d4d;
    font-size: 1.2rem;
  }