body {
    font-family: Georgia, serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


.container {
    background-color: #ff97fd;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    border: solid #a40089 5px;
}


h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}


input[type="button"] {
    width: 100%;
    padding: 12px;
    background-color: #a40089;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


input[type="button"]:hover {
    background-color: #a40089;
}


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 16px;
    

}

table, th, td {
    border: 1px solid #ddd;
    border: solid #a40089 3px;
}

th, td {
    padding: 12px;
    text-align: left;
    color: #555;
    
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}


.input {
    margin-bottom: 20px;
}