body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eceff1;
    font-family: Arial, sans-serif;
}


.calcolatrice {
    background-color: #737373;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 250px;
    border: solid black 3px;
}


#schermo {
    width: 90%;
    padding: 15px;
    font-size: 22px;
    text-align: right;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f7f9fa;
    color: #333;
    margin-bottom: 15px;
    outline: none;
    border: solid black 1px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    border: solid black 1px;
}


button.clear {
    background-color: #e57373;
}

button.clear:hover {
    background-color: #ef5350;
}


button:not(.clear):not(#uguale) {
    background-color: #64b5f6;
}

button:not(.clear):not(#uguale):hover {
    background-color: #42a5f5;
}

#uguale {
    background-color: #81c784;
    grid-column: span 1;
}

#uguale:hover {
    background-color: #66bb6a;
}


button.zero {
    grid-column: span 2;
}